body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    text-align: center;
}

.player-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
    margin-bottom: 20px;
}

.chess-square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.light {
    background-color: #eee;
}

.dark {
    background-color: #333;
    color: #fff;
}

#rematch {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode .player-photo {
    border-color: #f0f0f0;
}

.dark-mode .light {
    background-color: #999;
}

.dark-mode .dark {
    background-color: #111;
}
